#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f9f9fb;
  color: #333;
}

h2, h3 {
  margin: 0;
  color: #444;
}

.app-container {
  /* background-color: #c6d6ff; */
  margin: 0;
}


.posts-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  margin-top: 25px;
}

.post-card {
  font-size: 1.1em;
  background: #FFD3D5;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.241);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.07);
  border-color: #d9d9d9;
}

/* Short description text */
.post-card p {
  color: #666;
  margin-top: 6px;
  line-height: 1.45;
}

/* ============ POST DETAILS ============ */

.post-details {
  background: #fad7d8c4;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
}

/* Full description */
.post-details p {
  color: #555;
  line-height: 1.55;
  margin-top: 12px;
  font-size: 15.5px;
}

/* ============ BUTTONS ============ */

.back-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #dfe7fd;        /* pastel blue */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #3565c9;

  transition: 0.2s ease;
}

.back-btn:hover {
  background: #c6d6ff;
}


@media (max-width: 600px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}
